.app_dark_theme {
    --bg-color: #8194c2;
    --inverted-bg-color: #f4f6fb;

    // font color
    --primary-color: #f4f6fb;
    --secondary-color: #64abb4;
    --inverted-primary-color: #44777d;
    --inverted-econdary-color: #9ba2b1;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #0d0d6b;
}
