.app_dark_theme {
    --bg-color: #5858e2;
    --inverted-bg-color: #e8e8ea;

    // font color
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #123bb9;
    --inverted-econdary-color: #9ba2b1;
}
