.app_magenta_theme {
    --bg-color: #f9f4fb;
    --inverted-bg-color: #9415cb;

    // font color
    --primary-color: #2311a6;
    --secondary-color: #04ff04;
    --inverted-primary-color: #bcc2d3;
    --inverted-secondary-color: #647db3;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
