:root {
    --bg-color: #f4f6fb;
    --inverted-bg-color: #8194c2;

    // font color
    --primary-color: #123bb9;
    --secondary-color: #9ba2b1;
    --inverted-primary-color: #44777d;
    --inverted-secondary-color: #64abb4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
