:root {
    --bg-color: #e8e8ea;

    --inverted-bg-color: #6b6bed;

     //font color
    --primary-color: #123bb9;
    --secondary-color: #9ba2b1;

    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
