.AppLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
    // color: rgb(196, 237, 83);
}

.red {
    color: red;
}
